name: "Publish tagged releases to FlakeHub"
on:
  push:
    tags:
      - "v*"
jobs:
  flakehub-publish:
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: "actions/checkout@v6"
        with:
          persist-credentials: false
      - uses: "DeterminateSystems/determinate-nix-action@v3"
      - uses: "DeterminateSystems/flakehub-push@main"
        with:
          name: "orther/goodlab"
          rolling: false
          visibility: "public"
          include-output-paths: false
